Full Test.json
[{"id":"a7c3207e.3852f","type":"subflow","name":"System Instructions","info":"","category":"","in":[{"x":40,"y":40,"wires":[]}],"out":[{"x":760,"y":40,"wires":[{"id":"a7c3207e.3852f","port":0}]}],"env":[],"color":"#FF4800","icon":"node-red/status.svg"},{"id":"eb68bed5.e456a","type":"subflow","name":"End","info":"","category":"Procedures","in":[{"x":100,"y":100,"wires":[{"id":"3d7079e.3c87386"}]}],"out":[],"env":[],"color":"#E2D96E","icon":"font-awesome/fa-check"},{"id":"3d7079e.3c87386","type":"function","z":"eb68bed5.e456a","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", \"end\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":155,"y":100,"wires":[["67af0da7.8472a4"]],"l":false},{"id":"67af0da7.8472a4","type":"export-file","z":"eb68bed5.e456a","name":"teste","filename":"","directory":"","createDir":false,"x":310,"y":100,"wires":[["85f5a1c3.953e1"]]},{"id":"85f5a1c3.953e1","type":"jig-web-socket","z":"eb68bed5.e456a","name":"","port":"","url":"","x":510,"y":100,"wires":[[]]},{"id":"c4d1fc74.e02c3","type":"subflow","name":"Begin","info":"","category":"Procedures","in":[{"x":60,"y":80,"wires":[{"id":"d2e6dbeb.c53ae8"}]}],"out":[{"x":900,"y":80,"wires":[{"id":"d2e6dbeb.c53ae8","port":0}]}],"env":[],"color":"#E2D96E","icon":"font-awesome/fa-arrow-right"},{"id":"d2e6dbeb.c53ae8","type":"function","z":"c4d1fc74.e02c3","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", \"begin\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[[]],"l":false},{"id":"6aedd095.a25d1","type":"subflow","name":"New Step - D","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"6aedd095.a25d1","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"f7a95370.104e3","type":"subflow","name":"Error routine - SLOT D","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"42d729c7.118e68"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"42d729c7.118e68","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"3","ui":{"type":"hide","opts":{}}}],"color":"#FFAAAA"},{"id":"42d729c7.118e68","type":"function","z":"f7a95370.104e3","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\nif(file === undefined){\n    var exportFile = {\n        \"tester\": \"\",\n        \"model\": \"\",\n        \"instructions\": [],\n        \"firmwares\": [],\n        \"slots\": [\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            }\n        ],\n        // \"end\": []\n    };\n    globalContext.set(\"exportFile\", exportFile);\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"bd79745a.d42378","type":"inject","z":"f7a95370.104e3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"inject\":true}","payloadType":"json","x":135,"y":80,"wires":[["42d729c7.118e68"]],"l":false},{"id":"f6e516b6.c14268","type":"subflow","name":"New teste - SLOT D","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"42b1697a.fbe4c8"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"6b5ba3f.8aa615c","port":0}]}],"env":[{"name":"slot","type":"str","value":"3","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"42b1697a.fbe4c8","type":"function","z":"f6e516b6.c14268","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["6b5ba3f.8aa615c"]],"l":false},{"id":"34f57f97.4545","type":"catch","z":"f6e516b6.c14268","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["2d0864b7.6b8a7c"]],"l":false},{"id":"2d0864b7.6b8a7c","type":"subflow:f7a95370.104e3","z":"f6e516b6.c14268","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"6b5ba3f.8aa615c","type":"subflow:6aedd095.a25d1","z":"f6e516b6.c14268","name":"","env":[],"x":240,"y":80,"wires":[[]]},{"id":"f8d65d5c.d70fa","type":"subflow","name":"New Step - C","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"f8d65d5c.d70fa","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"8404ff63.2735b","type":"subflow","name":"Error routine - SLOT C","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"84f30d5f.1899"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"84f30d5f.1899","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"2","ui":{"type":"hide"}}],"color":"#FFAAAA"},{"id":"84f30d5f.1899","type":"function","z":"8404ff63.2735b","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\nif(file === undefined){\n    var exportFile = {\n        \"tester\": \"\",\n        \"model\": \"\",\n        \"instructions\": [],\n        \"firmwares\": [],\n        \"slots\": [\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            }\n        ],\n        // \"end\": []\n    };\n    globalContext.set(\"exportFile\", exportFile);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"dedd64b9.584848","type":"inject","z":"8404ff63.2735b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.7","topic":"","payload":"{\"inject\":true}","payloadType":"json","x":135,"y":80,"wires":[["84f30d5f.1899"]],"l":false},{"id":"d8421249.271e8","type":"subflow","name":"New teste - SLOT C","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"fc80cd4d.60924"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"de3d1fb1.877f9","port":0}]}],"env":[{"name":"slot","type":"str","value":"2","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"fc80cd4d.60924","type":"function","z":"d8421249.271e8","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["de3d1fb1.877f9"]],"l":false},{"id":"9e02c379.20f47","type":"catch","z":"d8421249.271e8","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["988d01f4.85f04"]],"l":false},{"id":"988d01f4.85f04","type":"subflow:8404ff63.2735b","z":"d8421249.271e8","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"de3d1fb1.877f9","type":"subflow:f8d65d5c.d70fa","z":"d8421249.271e8","name":"","env":[],"x":250,"y":80,"wires":[[]]},{"id":"27f15ff0.6ff","type":"subflow","name":"New Step - B","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"27f15ff0.6ff","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"ce1ecafe.d94d08","type":"subflow","name":"Error routine - SLOT B","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"823349e.1df02b8"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"823349e.1df02b8","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"1","ui":{"type":"hide"}}],"color":"#FFAAAA"},{"id":"823349e.1df02b8","type":"function","z":"ce1ecafe.d94d08","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\nif(file === undefined){\n    var exportFile = {\n        \"tester\": \"\",\n        \"model\": \"\",\n        \"instructions\": [],\n        \"firmwares\": [],\n        \"slots\": [\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            }\n        ],\n        // \"end\": []\n    };\n    globalContext.set(\"exportFile\", exportFile);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"57f2b904.81ff88","type":"inject","z":"ce1ecafe.d94d08","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.4","topic":"","payload":"{\"inject\":true}","payloadType":"json","x":135,"y":80,"wires":[["823349e.1df02b8"]],"l":false},{"id":"c2145528.d386c8","type":"subflow","name":"New teste - SLOT B","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"cef59d22.7988e"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"ac809525.8abd48","port":0}]}],"env":[{"name":"slot","type":"num","value":"1","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"cef59d22.7988e","type":"function","z":"c2145528.d386c8","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["ac809525.8abd48"]],"l":false},{"id":"16fb931.d03386d","type":"catch","z":"c2145528.d386c8","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["3f74ade2.9e67c2"]],"l":false},{"id":"3f74ade2.9e67c2","type":"subflow:ce1ecafe.d94d08","z":"c2145528.d386c8","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"ac809525.8abd48","type":"subflow:27f15ff0.6ff","z":"c2145528.d386c8","name":"","env":[],"x":250,"y":80,"wires":[[]]},{"id":"ad01a968.e8bbb8","type":"subflow","name":"New Step - A","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"ad01a968.e8bbb8","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"eb9cbf5d.ad727","type":"subflow","name":"Error routine - SLOT A","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"475870f6.7c81e"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"475870f6.7c81e","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"0","ui":{"type":"hide"}}],"color":"#FFAAAA"},{"id":"91391606.099508","type":"inject","z":"eb9cbf5d.ad727","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"inject\":true}","payloadType":"json","x":115,"y":80,"wires":[["475870f6.7c81e"]],"l":false},{"id":"475870f6.7c81e","type":"function","z":"eb9cbf5d.ad727","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\n\nvar exportFile = {\n    \"tester\": \"\",\n    \"model\": \"\",\n    \"instructions\": [],\n    \"firmwares\": [],\n    \"slots\": [\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        },\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        },\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        },\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        }\n    ],\n    // \"end\": []\n};\nglobalContext.set(\"exportFile\", exportFile);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"a1d9e4ab.8f5408","type":"subflow","name":"New teste - SLOT A","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"e46fdb1.4199c28"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"6df289ed.9e4178","port":0}]}],"env":[{"name":"slot","type":"num","value":"0","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"e46fdb1.4199c28","type":"function","z":"a1d9e4ab.8f5408","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["6df289ed.9e4178"]],"l":false},{"id":"f9c69961.b69ab8","type":"catch","z":"a1d9e4ab.8f5408","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["62b2472b.01fdb8"]],"l":false},{"id":"62b2472b.01fdb8","type":"subflow:eb9cbf5d.ad727","z":"a1d9e4ab.8f5408","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"6df289ed.9e4178","type":"subflow:ad01a968.e8bbb8","z":"a1d9e4ab.8f5408","name":"","env":[],"x":250,"y":80,"wires":[[]]},{"id":"a157055c.8e4138","type":"subflow:a1d9e4ab.8f5408","z":"74528846.f165c8","name":"","env":[],"x":560,"y":260,"wires":[["9ef6eea5.0711e"]]},{"id":"9ef6eea5.0711e","type":"subflow:c2145528.d386c8","z":"74528846.f165c8","name":"","env":[],"x":560,"y":320,"wires":[["c742268.9f38ad8"]]},{"id":"c742268.9f38ad8","type":"subflow:d8421249.271e8","z":"74528846.f165c8","name":"","env":[],"x":560,"y":380,"wires":[["5dbcf39f.1f2f3c"]]},{"id":"5dbcf39f.1f2f3c","type":"subflow:f6e516b6.c14268","z":"74528846.f165c8","name":"","env":[],"x":560,"y":440,"wires":[["c8fc1436.a59b88"]]},{"id":"8e77c5bf.f00198","type":"subflow:c4d1fc74.e02c3","z":"74528846.f165c8","name":"","env":[],"x":390,"y":260,"wires":[["a157055c.8e4138"]]},{"id":"c8fc1436.a59b88","type":"subflow:eb68bed5.e456a","z":"74528846.f165c8","name":"","env":[],"x":730,"y":440,"wires":[]},{"id":"1226b8aa.486de7","type":"inject-special","z":"74528846.f165c8","name":"","exportMode":"false","x":355,"y":200,"wires":[["b3e22ad2.bdf418"]],"l":false},{"id":"b3e22ad2.bdf418","type":"subflow:a7c3207e.3852f","z":"74528846.f165c8","name":"","env":[],"x":490,"y":200,"wires":[["8e77c5bf.f00198"]]}]