New Test - Slot C.json
[{"id":"50f4a374.2f51fc","type":"subflow","name":"New Step - C","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"50f4a374.2f51fc","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"d6485a27.55fd38","type":"subflow","name":"Error routine - SLOT C (2)","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"1b1018c8.6a5c97"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"1b1018c8.6a5c97","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"2","ui":{"type":"hide"}}],"color":"#FFAAAA"},{"id":"1b1018c8.6a5c97","type":"function","z":"d6485a27.55fd38","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\nif(file === undefined){\n    var exportFile = {\n        \"tester\": \"\",\n        \"model\": \"\",\n        \"instructions\": [],\n        \"firmwares\": [],\n        \"slots\": [\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            }\n        ],\n        // \"end\": []\n    };\n    globalContext.set(\"exportFile\", exportFile);\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"4ffa8fb6.2f6e8","type":"inject","z":"d6485a27.55fd38","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.7","topic":"","payload":"{\"inject\":true}","payloadType":"json","x":135,"y":80,"wires":[["1b1018c8.6a5c97"]],"l":false},{"id":"d5118cf8.e5b62","type":"subflow","name":"New teste - SLOT C (3)","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"c7ac6b26.c5fff8"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"ada62e3.d76c3d","port":0}]}],"env":[{"name":"slot","type":"str","value":"2","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"c7ac6b26.c5fff8","type":"function","z":"d5118cf8.e5b62","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["ada62e3.d76c3d"]],"l":false},{"id":"850ed01.044a23","type":"catch","z":"d5118cf8.e5b62","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["73fb9178.9ae5b"]],"l":false},{"id":"73fb9178.9ae5b","type":"subflow:d6485a27.55fd38","z":"d5118cf8.e5b62","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"ada62e3.d76c3d","type":"subflow:50f4a374.2f51fc","z":"d5118cf8.e5b62","name":"","env":[],"x":250,"y":80,"wires":[[]]},{"id":"3c4cd28b.9dee2e","type":"subflow:d5118cf8.e5b62","z":"67c60020.a5bea","name":"","env":[],"x":570,"y":220,"wires":[[]]}]
