New Test - Slot B.json
[{"id":"8809276b.391cb8","type":"subflow","name":"New Step - B","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"8809276b.391cb8","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"acadfe25.c94c6","type":"subflow","name":"Error routine - SLOT B (2)","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"1ba14f9e.61a7c"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"1ba14f9e.61a7c","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"1","ui":{"type":"hide"}}],"color":"#FFAAAA"},{"id":"1ba14f9e.61a7c","type":"function","z":"acadfe25.c94c6","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\nif(file === undefined){\n    var exportFile = {\n        \"tester\": \"\",\n        \"model\": \"\",\n        \"instructions\": [],\n        \"firmwares\": [],\n        \"slots\": [\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            }\n        ],\n        // \"end\": []\n    };\n    globalContext.set(\"exportFile\", exportFile);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"22e58404.6a0f7c","type":"inject","z":"acadfe25.c94c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.4","topic":"","payload":"{\"inject\":true}","payloadType":"json","x":135,"y":80,"wires":[["1ba14f9e.61a7c"]],"l":false},{"id":"92516889.4b32a8","type":"subflow","name":"New teste - SLOT B (3)","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"633074b5.86168c"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"f0209ea8.dc3eb","port":0}]}],"env":[{"name":"slot","type":"num","value":"1","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"633074b5.86168c","type":"function","z":"92516889.4b32a8","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["f0209ea8.dc3eb"]],"l":false},{"id":"3d29685.0abae98","type":"catch","z":"92516889.4b32a8","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["a794758f.45bb18"]],"l":false},{"id":"a794758f.45bb18","type":"subflow:acadfe25.c94c6","z":"92516889.4b32a8","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"f0209ea8.dc3eb","type":"subflow:8809276b.391cb8","z":"92516889.4b32a8","name":"","env":[],"x":250,"y":80,"wires":[[]]},{"id":"e7b4eb60.18a258","type":"subflow:92516889.4b32a8","z":"67c60020.a5bea","name":"","env":[],"x":550,"y":160,"wires":[[]]}]
