New Test - Slot A.json
[{"id":"ad01a968.e8bbb8","type":"subflow","name":"New Step - A","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"ad01a968.e8bbb8","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"eb9cbf5d.ad727","type":"subflow","name":"Error routine - SLOT A","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"475870f6.7c81e"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"475870f6.7c81e","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"0","ui":{"type":"hide"}}],"color":"#FFAAAA"},{"id":"91391606.099508","type":"inject","z":"eb9cbf5d.ad727","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"inject\":true}","payloadType":"json","x":115,"y":80,"wires":[["475870f6.7c81e"]],"l":false},{"id":"475870f6.7c81e","type":"function","z":"eb9cbf5d.ad727","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\n\nvar exportFile = {\n    \"tester\": \"\",\n    \"model\": \"\",\n    \"instructions\": [],\n    \"firmwares\": [],\n    \"slots\": [\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        },\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        },\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        },\n        {\n            \"jig_test\": [],\n            \"jig_error\": []\n        }\n    ],\n    // \"end\": []\n};\nglobalContext.set(\"exportFile\", exportFile);\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"a1d9e4ab.8f5408","type":"subflow","name":"New teste - SLOT A","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"e46fdb1.4199c28"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"6df289ed.9e4178","port":0}]}],"env":[{"name":"slot","type":"num","value":"0","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"e46fdb1.4199c28","type":"function","z":"a1d9e4ab.8f5408","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["6df289ed.9e4178"]],"l":false},{"id":"f9c69961.b69ab8","type":"catch","z":"a1d9e4ab.8f5408","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["62b2472b.01fdb8"]],"l":false},{"id":"62b2472b.01fdb8","type":"subflow:eb9cbf5d.ad727","z":"a1d9e4ab.8f5408","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"6df289ed.9e4178","type":"subflow:ad01a968.e8bbb8","z":"a1d9e4ab.8f5408","name":"","env":[],"x":250,"y":80,"wires":[[]]},{"id":"a157055c.8e4138","type":"subflow:a1d9e4ab.8f5408","z":"74528846.f165c8","name":"","env":[],"x":640,"y":220,"wires":[[]]}]