New Test - Slot D.json
[{"id":"521b7f83.6793b","type":"subflow","name":"New Step - D","info":"","category":"Steps","in":[{"x":60,"y":80,"wires":[]}],"out":[{"x":1040,"y":80,"wires":[{"id":"521b7f83.6793b","port":0}]}],"env":[],"color":"#C0C0C0"},{"id":"442ece85.433a6","type":"subflow","name":"Error routine - SLOT D (2)","info":"","category":"Error","in":[{"x":60,"y":80,"wires":[{"id":"442f0f54.45dd3"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"442f0f54.45dd3","port":0}]}],"env":[{"name":"slotNum","type":"num","value":"3","ui":{"type":"hide","opts":{}}}],"color":"#FFAAAA"},{"id":"442f0f54.45dd3","type":"function","z":"442ece85.433a6","name":"","func":"var globalContext = this.context.global;\nvar file = globalContext.get(\"exportFile\");\nglobalContext.set(\"currentMode\", \"error\");\nglobalContext.set(\"slot\", env.get(\"slotNum\"));\n\nif(file === undefined){\n    var exportFile = {\n        \"tester\": \"\",\n        \"model\": \"\",\n        \"instructions\": [],\n        \"firmwares\": [],\n        \"slots\": [\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            },\n            {\n                \"jig_test\": [],\n                \"jig_error\": []\n            }\n        ],\n        // \"end\": []\n    };\n    globalContext.set(\"exportFile\", exportFile);\n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":175,"y":80,"wires":[[]],"l":false},{"id":"856749be.bbbba8","type":"inject","z":"442ece85.433a6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"inject\":true}","payloadType":"json","x":135,"y":80,"wires":[["442f0f54.45dd3"]],"l":false},{"id":"bc04de64.a671f","type":"subflow","name":"New teste - SLOT D (3)","info":"","category":"Teste","in":[{"x":60,"y":80,"wires":[{"id":"d1dac221.53edd"}]}],"out":[{"x":1040,"y":80,"wires":[{"id":"53aef5cd.83452c","port":0}]}],"env":[{"name":"slot","type":"str","value":"3","ui":{"type":"hide"}}],"color":"#C0C0C0"},{"id":"d1dac221.53edd","type":"function","z":"bc04de64.a671f","name":"","func":"var globalContext = this.context.global;\nglobalContext.set(\"slot\", env.get(\"slot\"));\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":115,"y":80,"wires":[["53aef5cd.83452c"]],"l":false},{"id":"aeb071f4.6cef9","type":"catch","z":"bc04de64.a671f","name":"","scope":null,"uncaught":false,"x":55,"y":400,"wires":[["1b75a4c9.22db5b"]],"l":false},{"id":"1b75a4c9.22db5b","type":"subflow:442ece85.433a6","z":"bc04de64.a671f","name":"","env":[],"x":190,"y":400,"wires":[[]]},{"id":"53aef5cd.83452c","type":"subflow:521b7f83.6793b","z":"bc04de64.a671f","name":"","env":[],"x":240,"y":80,"wires":[[]]},{"id":"567fe63d.f2a698","type":"subflow:bc04de64.a671f","z":"67c60020.a5bea","name":"","env":[],"x":530,"y":240,"wires":[[]]}]
